# Server Configuration
PORT=5001
NODE_ENV=development
FRONTEND_URL=https://your-frontend-url.com

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=movie_app
DB_PORT=3306 